name: Cypress CI

on:
  push:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - run: npm install

      # ✅ BẮT BUỘC THÊM DÒNG NÀY
      - run: npx cypress install

      - run: npx cypress run --browser electron

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-video-report
          path: |
            cypress/videos
            cypress/screenshots
            mochawesome-report
